* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Owncontainer {
  padding: 0 5rem;
  width: 100%;
}

.active_light {
  background-color: #ff6000;
  padding: 3px;
  border-radius: 50px;
  color: #fff;
}

#fullScreen .left {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #323E48;
  width: 18%;
  padding: 20px 0;
  text-align: center;
}

#fullScreen .left .left_arrow {
  position: absolute;
  bottom: 15px;
  right: -27px;
  background-color: #F5F7F9;
  padding: 8px 10px;
  border-radius: 50px;
}

#fullScreen .left .left_arrow i {
  color: #FFCD00;
  background-color: #323E48;
  padding: 3px 6px;
  border-radius: 50px;
}

#fullScreen .left .mainNavbar ul {
  list-style: none;
  text-align: left;
  margin-top: 20px;
}

#fullScreen .left .mainNavbar ul .li_active {
  background-color: #4F5961;
  border-left: 4px solid #FF8300;
}

#fullScreen .left .mainNavbar ul li {
  padding: 15px 30px;
}

#fullScreen .left .mainNavbar ul li a {
  margin-left: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#fullScreen .left .navbarBottom {
  text-align: center;
  padding-top: 100px;
}

#fullScreen .left .navbarBottom .light_box {
  padding: 3px;
  width: 50%;
  background-color: #1B2630;
  margin: 0 auto 20px;
  border-radius: 90px;
}

#fullScreen .left .navbarBottom .light_box i {
  padding: 10px 18px;
  font-size: 16px;
}

#fullScreen .left .navbarBottom a {
  text-decoration: none;
  font-size: 14px;
}

#fullScreen .left .navbarBottom p {
  font-size: 14px;
  color: #798187;
  margin-top: 10px;
}

#fullScreen .right {
  width: 82%;
  background-color: #F5F7F9;
}

#fullScreen .right .top {
  background-color: #fff;
}

#fullScreen .right .top .top_content {
  padding: 15px 0;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fullScreen .right .top .top_content input {
  width: 100%;
  padding: 8px 15px;
  border: none;
}

#fullScreen .right .top .top_content input:focus {
  outline: #323E48;
}

#fullScreen .right .top .top_content .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fullScreen .right .top .top_content .user .apply {
  background-color: #FFCD00;
  padding: 16px 35px;
  color: #323E48;
  font-weight: bold;
  border: 1px solid #FFCD00;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#fullScreen .right .top .top_content .user .apply:hover {
  color: #323E48;
  background-color: transparent;
  border: 1px solid #FFCD00;
}

#fullScreen .right .top .top_content .user .user_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fullScreen .right .top .top_content .user .user_profile img {
  width: 20%;
  border-radius: 50px;
}

#fullScreen .right .top .top_content .user .user_profile span {
  font-size: 16px;
  color: #323E48;
}

#fullScreen .right .top .top_content .user .user_profile i {
  color: #323E48;
  font-size: 36px;
}

#fullScreen .right .bottom {
  padding: 30px;
}

#fullScreen .right .bottom .accident_status {
  margin-top: 30px;
  width: 95%;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
}

#fullScreen .right .bottom .accident_status .box {
  width: 55%;
  height: 100px;
}

#fullScreen .right .bottom .accident_status .box .box-text {
  width: 85%;
  float: right;
}

#fullScreen .right .bottom .accident_status .box .box-text h5 {
  font-size: 16px;
  font-weight: bolder;
}

#fullScreen .right .bottom .accident_status .box .box-text p {
  font-size: 14px;
}

#fullScreen .right .bottom .accident_status .box .numbers {
  border-radius: 50px;
  padding: 5px 10px;
  color: #C0C5C7;
  float: left;
  border: 4px solid #C0C5C7;
  position: relative;
}

#fullScreen .right .bottom .accident_status .box .numbers::after {
  content: '';
  position: absolute;
  top: 115%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 64px;
  width: 2px;
  background-color: #C0C5C7;
}

#fullScreen .right .bottom .accident_status .box .active_number {
  background-color: #34D186;
  color: #fff;
  border: 4px solid #34D186;
}

#fullScreen .right .bottom .topic {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin-top: 45px;
}

#fullScreen .right .bottom .muraciet input {
  width: 300px;
  height: 44px;
  padding: 0 7px;
  border: none;
}

#fullScreen .right .bottom .muraciet input:focus {
  outline: none;
}

#fullScreen .right .bottom .muraciet svg {
  margin-left: 5px;
}

#fullScreen .right .bottom .muraciet button {
  margin-left: 15px;
  background-color: #FFCD00;
  color: #323E48;
  border-radius: 5px;
  height: 44px;
  padding: 0 10px;
  border: 1px solid #FFCD00;
}

#fullScreen .right .bottom .muraciet button:focus {
  outline: none;
}

#fullScreen .right .bottom .tabcontent {
  font-size: 16px;
  color: #000;
  line-height: 50px;
  width: 95%;
}

#fullScreen .right .bottom .apply_button {
  padding-bottom: 50px;
}

#fullScreen .right .bottom .apply_button button {
  padding: 13px 34px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

#fullScreen .right .bottom .apply_button button:nth-child(1) {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  margin-right: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#fullScreen .right .bottom .apply_button button:nth-child(1):hover {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}

#fullScreen .right .bottom .apply_button button:nth-child(2) {
  background-color: #FF8300;
  color: #fff;
  border: 1px solid #FF8300;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#fullScreen .right .bottom .apply_button button:nth-child(2):hover {
  background-color: transparent;
  color: #000;
  border: 1px solid #FF8300;
}

#fullScreen .right .bottom .apply_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fullScreen .right .bottom .apply_box .left_apply,
#fullScreen .right .bottom .apply_box .right_apply {
  margin-right: 30px;
}

#fullScreen .right .bottom .apply_box .left_apply .insurance,
#fullScreen .right .bottom .apply_box .right_apply .insurance {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
}

#fullScreen .right .bottom .apply_box .left_apply .insurance .containers,
#fullScreen .right .bottom .apply_box .right_apply .insurance .containers {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  color: #323E48;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #C0C5C7;
  /* Create a custom checkbox */
}

#fullScreen .right .bottom .apply_box .left_apply .insurance .containers input,
#fullScreen .right .bottom .apply_box .right_apply .insurance .containers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#fullScreen .right .bottom .apply_box .left_apply .insurance .containers .checkmark,
#fullScreen .right .bottom .apply_box .right_apply .insurance .containers .checkmark {
  position: absolute;
  top: 35%;
  left: 1%;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #C0C5C7;
  border-radius: 3px;
  /* Style the checkmark/indicator */
}

#fullScreen .right .bottom .apply_box .left_apply .insurance .containers .checkmark::after,
#fullScreen .right .bottom .apply_box .right_apply .insurance .containers .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#fullScreen .right .bottom .apply_box .left_apply .insurance .containers:hover input ~ .checkmark,
#fullScreen .right .bottom .apply_box .right_apply .insurance .containers:hover input ~ .checkmark {
  background-color: #ccc;
}

#fullScreen .right .bottom .apply_box .left_apply .insurance .containers input:checked ~ .checkmark,
#fullScreen .right .bottom .apply_box .right_apply .insurance .containers input:checked ~ .checkmark {
  background-color: #FF8300;
}

#fullScreen .right .bottom .apply_box .left_apply .insurance .checkmark:after,
#fullScreen .right .bottom .apply_box .right_apply .insurance .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#fullScreen .right .bottom .apply_box .left_apply .insurance .containers input:checked ~ .checkmark:after,
#fullScreen .right .bottom .apply_box .right_apply .insurance .containers input:checked ~ .checkmark:after {
  display: block;
}

#fullScreen .right .bottom .apply_box .left_apply .insurance h3,
#fullScreen .right .bottom .apply_box .right_apply .insurance h3 {
  color: #FF8300;
  font-size: 20px;
  margin: 0;
  font-weight: bolder;
}

#fullScreen .right .bottom .apply_box .left_apply .insurance form,
#fullScreen .right .bottom .apply_box .right_apply .insurance form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#fullScreen .right .bottom .apply_box .left_apply .insurance form .form_box,
#fullScreen .right .bottom .apply_box .right_apply .insurance form .form_box {
  margin: 0 15px 20px 0;
  width: 45%;
}

#fullScreen .right .bottom .apply_box .left_apply .insurance form .form_box input,
#fullScreen .right .bottom .apply_box .right_apply .insurance form .form_box input {
  line-height: 0;
  padding: 10px 10px 9px 16px;
  width: 100%;
  border: 1px solid #C0C5C7;
  border-radius: 4px;
}

#fullScreen .right .bottom .apply_box .left_apply .insurance form .form_box input:focus,
#fullScreen .right .bottom .apply_box .right_apply .insurance form .form_box input:focus {
  outline: none;
}

#fullScreen .right .bottom .inform_box {
  margin: 30px 0 0;
  padding: 40px 60px;
  width: 95%;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
}

#fullScreen .right .bottom .inform_box h2 {
  font-size: 34px;
  color: #323E48;
}

#fullScreen .right .bottom .inform_box p {
  color: #323E48;
  font-size: 18px;
}

#fullScreen .right .bottom .inform_box .statistics {
  position: relative;
  margin: 20px 0 0 15px;
  z-index: 999;
}

#fullScreen .right .bottom .inform_box .statistics::before {
  content: '';
  z-index: -99;
  position: absolute;
  top: -9px;
  left: -11px;
  width: 40px;
  height: 40px;
  background-color: #FF8300;
  border-radius: 50px;
}

#fullScreen .right .bottom .inform_box .statistics span {
  font-size: 14px;
  color: #323E48;
  padding-left: 13px;
}

#fullScreen .right .bottom .inform_box .statistics p {
  color: #000;
  font-size: 24px;
  padding-left: 35px;
  font-weight: bold;
}

#fullScreen .right .bottom .table_box h2 {
  font-size: 28px;
  color: #000;
}

#fullScreen .right .bottom .table_box .diff_table {
  width: 95%;
  background-color: #fff;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

#fullScreen .right .bottom .table_box .diff_table tr {
  border: 1px solid #D7DBDC;
}

#fullScreen .right .bottom .table_box .diff_table td,
#fullScreen .right .bottom .table_box .diff_table th {
  text-align: center;
  padding: 15px 5px;
  font-size: 14px;
}

#fullScreen .right .bottom .table_box .diff_table .active {
  background-color: #BFEED7;
  color: #29C77B;
  font-weight: bold;
}

#fullScreen .right .bottom .table_box .diff_table .deactive {
  background-color: #FFDAB3;
  color: #FF8300;
  font-weight: bold;
}

#fullScreen .right .bottom .table_box .diff_table .ignore {
  color: #E1251B;
  font-weight: bold;
  background-color: #F6BEBB;
}

#fullScreen .right .bottom .table_box table {
  width: 100%;
  background-color: #fff;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

#fullScreen .right .bottom .table_box table tr {
  border: 1px solid #D7DBDC;
}

#fullScreen .right .bottom .table_box table td,
#fullScreen .right .bottom .table_box table th {
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

#fullScreen .right .bottom .table_box table .active {
  background-color: #BFEED7;
  color: #29C77B;
  font-weight: bold;
}

#fullScreen .right .bottom .table_box table .deactive {
  background-color: #FFDAB3;
  color: #FF8300;
  font-weight: bold;
}

#fullScreen .right .bottom .table_box table .ignore {
  color: #E1251B;
  font-weight: bold;
  background-color: #F6BEBB;
}

#fullScreen .right .bottom .table_box2 h2 {
  font-size: 28px;
  color: #000;
}

#fullScreen .right .bottom .table_box2 table {
  width: 95%;
  background-color: #fff;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

#fullScreen .right .bottom .table_box2 table tr {
  border: 1px solid #D7DBDC;
}

#fullScreen .right .bottom .table_box2 table td,
#fullScreen .right .bottom .table_box2 table th {
  text-align: center;
  padding: 15px 22px;
}

#fullScreen .right .bottom .table_box2 table .active {
  background-color: #BFEED7;
  color: #29C77B;
  font-weight: bold;
}

#fullScreen .right .bottom .table_box2 table .deactive {
  background-color: #FFDAB3;
  color: #FF8300;
  font-weight: bold;
}

#fullScreen .right .bottom .table_box2 table .ignore {
  color: #E1251B;
  font-weight: bold;
  background-color: #F6BEBB;
}

.clear {
  clear: both;
}

.tab {
  overflow: hidden;
  margin-bottom: 30px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 0;
  margin: 10px 15px 0 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 2px solid #F5F7F9;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 2px solid #FF8300;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 0;
  border-top: none;
}

.tabcontent table {
  width: 95%;
  background-color: #fff;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.tabcontent table tr {
  border: 1px solid #D7DBDC;
}

.tabcontent table td,
.tabcontent table th {
  text-align: center;
  padding: 5px 22px;
}

.tabcontent table .active {
  background-color: #BFEED7;
  color: #29C77B;
  font-weight: bold;
}

.tabcontent table .deactive {
  background-color: #FFDAB3;
  color: #FF8300;
  font-weight: bold;
}

.tabcontent table .ignore {
  color: #E1251B;
  font-weight: bold;
  background-color: #F6BEBB;
}

.lightbox_active {
  background-color: #3D464E;
  border-radius: 90px;
  color: #ffff;
}

/* Remove this line if you want to invert images too */
.dark-mode,
.dark-mode img {
  -webkit-filter: invert(1) hue-rotate(180deg);
          filter: invert(1) hue-rotate(180deg);
}

.light-mode,
.light-mode img {
  -webkit-filter: invert(0) hue-rotate(0deg);
          filter: invert(0) hue-rotate(0deg);
}

.sidenav {
  width: 0;
  position: fixed;
  z-index: 9999999999999;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav .left_sideNav {
  background-color: #323E48;
  padding: 20px 0;
  text-align: center;
}

.sidenav .left_sideNav .left_arrow {
  position: absolute;
  bottom: 15px;
  right: -27px;
  background-color: #F5F7F9;
  padding: 8px 10px;
  border-radius: 50px;
}

.sidenav .left_sideNav .left_arrow i {
  color: #FFCD00;
  background-color: #323E48;
  padding: 3px 6px;
  border-radius: 50px;
}

.sidenav .left_sideNav .mainNavbar {
  padding-top: 30px;
}

.sidenav .left_sideNav .mainNavbar ul {
  list-style: none;
  text-align: left;
  margin-top: 20px;
}

.sidenav .left_sideNav .mainNavbar ul .li_active {
  background-color: #4F5961;
  border-left: 4px solid #FF8300;
}

.sidenav .left_sideNav .mainNavbar ul li {
  padding: 15px 30px;
}

.sidenav .left_sideNav .mainNavbar ul li a {
  margin-left: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.sidenav .left_sideNav .navbarBottom {
  text-align: center;
  padding-top: 100px;
}

.sidenav .left_sideNav .navbarBottom .light_box {
  padding: 3px;
  width: 50%;
  margin: 0 auto 20px;
  border-radius: 90px;
}

.sidenav .left_sideNav .navbarBottom .light_box i {
  padding: 10px 18px;
  font-size: 16px;
}

.sidenav .left_sideNav .navbarBottom a {
  text-decoration: none;
  font-size: 14px;
}

.sidenav .left_sideNav .navbarBottom p {
  font-size: 14px;
  color: #798187;
  margin-top: 10px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 25px;
  color: #fff;
  text-decoration: none;
  font-size: 36px;
  margin-left: 50px;
}

#MediaHeader {
  background-color: #323E48;
  position: fixed;
  top: 0;
  display: none;
  padding: 10px 0;
  width: 100%;
}

#MediaHeader .right_media {
  text-align: right;
}

#MediaHeader .apply {
  background-color: #FFCD00;
  padding: 9px;
  color: #323E48;
  font-weight: bold;
  border: 1px solid #FFCD00;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#MediaHeader .apply:hover {
  color: #fff;
  background-color: transparent;
  border: 1px solid #FFCD00;
}

#MediaHeader .left_media i {
  color: #fff;
  font-size: 30px;
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .tabcontent {
    line-height: 24px !important;
  }
  .table_box {
    overflow-x: auto;
  }
  .table_box2 {
    overflow-x: auto;
  }
  #MediaHeader {
    display: block !important;
    z-index: 99999;
  }
  .inform_box {
    padding: 35px 13px !important;
  }
  .inform_box h2 {
    font-size: 28px !important;
  }
  .left {
    display: none;
  }
  .right {
    width: 100% !important;
  }
  .right .top {
    display: none;
  }
  .right .bottom {
    padding: 60px 30px !important;
  }
  .apply_box {
    display: block !important;
  }
  .apply_box .form_box {
    width: 100% !important;
  }
  .apply_button button {
    line-height: 20px;
  }
}

#fullScreen_left, #fullScreen_right {
  -webkit-transition: .5s;
  transition: .5s;
}

.dropbtn {
  background-color: #FFCD00;
  padding: 16px 35px;
  color: #323E48;
  font-weight: bold;
  border: 1px solid #FFCD00;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
  border: 1px solid #FF8300;
  outline: #FF8300;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F5F7F9;
  min-width: 100%;
  overflow: auto;
  text-align: left;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #FF8300;
  color: #fff;
}

.show {
  display: block;
}
/*# sourceMappingURL=style.css.map */